body {
width:400px;

}

.header {
	background:#ff0000;
	height:100px;

}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.main {
	background :#00ff1e;
	width:150px;
	height:250px;
	float:left;
}

.main2 {
	background :#3300ff;
	width:250px;
	height:250px;
	float:left;
}

.footer {
	background:#ffe600;
	height:100px;
}

